section[ourPricing] {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-secondary-light;
    padding: rem(100) 0 rem(50) 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $max-width;
        padding: 0 rem(100);
    }
}

@media screen and (max-width: $responsive-size-mobile) {
    section[ourPricing] {
        padding-top: rem(50);

        .content {
            padding: rem(50);
        }

        article{
            margin:rem(10);
        }
    }
}